/*-- Gallery Styles --*/

.gallery,
.product,
.product-image,
.image-container,
.product-info,
.info-container,
.arrow {
	position: absolute;
}
.gallery,
.product {
	width: 100%;
	height: 45.1em;
	background-color: white;
}
.gallery {
	display: none;
	overflow: hidden;

	&.active {
		display: block;
	}
	* {
		color: $bestBuyBlue;
	}
}
.product {
	transform: translateX(100em);

	&.active {
		animation: slideLeft .5s ease-out 0s forwards;
	}
	&.back-active {
		animation: slideRight .5s ease-out 0s forwards;
	}
}
.product-image,
.product-info {
	top: 50%;
	transform: translateY(-50%);
}
.image-container {
	height: 100%;
	width: 53.4em;
	left: 0;
}
.product-image {
	max-width: 46.8em;
	max-height: 31.4em;
	left: 50%;
	transform: translate(-50%, -50%);
}
.product-info {
	width: 46.9em;
	height: 36.4em;
	right: 0;
	border-left: .2em solid black;
}
.info-container,
.arrow {
	top: 50%;
	transform: translateY(-50%);
}
.info-container {
	width: 100%;
}
.product-price,
.product-name,
.product-description,
.product-cta {
	position: relative;
	margin: 0 0 0 4.9vw;
	display: block;
}
.product-price,
.product-cta {
	font-family: pt-sans-bold, sans-serif;
}
.product-price {
	font-size: 4.5em;
    margin: 0 0 1vw 4.9vw;
}
.product-name,
.product-description {
	font-size: 1.9em;
    line-height: 2.5vw;
    width: 34vw;
}
.product-cta {
	background-color: $ctaOrange;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	width: 33.1vw;
	height: 5.8vw;
	border-radius: 1vw;
	font-size: 3vw;
	line-height: 5.8vw;
	text-align: center;
	margin: 1vw 0 0 4.9vw;
	animation: shrink .25s ease-out 0s forwards;
	transform-origin: left;

	&:hover {
		animation: grow .25s ease-out 0s forwards;
	};
}
.arrow {
	width: 2.9em;
	height: 7.1em;
	right: 0;
	background-image: url('../resources/images/arrow-right.png');
	cursor: pointer;

	&.hide {
		display: none;
	}
}
.arrow-left {
	left: 0;
	background-image: url('../resources/images/arrow-left.png');
}

// Mobile Styling
@media all and (max-width: 600px) {
	.gallery {
		top: 22em;
		height: calc(100% - 22em);
		width: 100%;
	}
	.product {
		height: 100%;
		width: 100%;
		position: absolute;

		&.product-health {
			.product-image {
				height: 80%;
				width: auto;
			}
		}
	}
	.image-container,
	.product-info {
		height: 50%;
		width: 100%;
	}
	.product-info {
		top: 50%;
		transform: translateX(0);
		border: none;
	}
	.product-image {
		width: 80%;
		max-height: 80%;
		max-width: 80%;
	}
	.product-price {
	    font-size: 11.5em;
    	margin: 0 0 3vw 4.9vw;
	}
	.product-name,
	.product-description {
		font-size: 4.3vw;
		line-height: 5.2vw;
		width: 93vw;
	}
	.product-description {
		font-size: 3.6vw;
	    line-height: 4.3vw;
	    margin: 3vw 0 0 4.9vw;
	}
	.product-cta {
		margin: 4vw 0 0 4.9vw;
	    border-radius: 3vw;
	    font-size: 7vw;
	    line-height: 11.8vw;
	    width: 90.1vw;
	    height: 11.8vw;
	    animation: none;

	    &:hover {
	    	animation: none;
	    }
	}
	.arrow {
		top: 47%;
		width: 10.9em;
		height: 14.1em;
	}
}